# Scratch Notebook

In [7]:
import pandas as pd
import os
import glob

In [9]:
path = "./mimic-iv-clinical-database-demo-2.2/hosp/"
csv_files = glob.glob(os.path.join(path, "*.csv.gz"))
  
# loop over the list of csv files
for f in csv_files:
      
    # read the csv file
    df = pd.read_csv(f)
      
    # print the location and filename
    print('Location:', f)
    print('File Name:', f.split("\\")[-1])
      
    # print the content
    print('Content:')
    display(df)
    print()

Location: ./mimic-iv-clinical-database-demo-2.2/hosp/poe.csv.gz
File Name: ./mimic-iv-clinical-database-demo-2.2/hosp/poe.csv.gz
Content:

,poe_id,poe_seq,subject_id,hadm_id,ordertime,order_type,order_subtype,transaction_type,discontinue_of_poe_id,discontinued_by_poe_id,order_provider_id,order_status
0,10002930-456,456,10002930,20282368,2201-03-23 19:14:33,General Care,Other,New,NaN,NaN,P04TDP,Inactive
1,10002930-454,454,10002930,20282368,2201-03-23 19:14:33,General Care,Vitals/Monitoring,New,NaN,NaN,P04TDP,Inactive
2,10002930-455,455,10002930,20282368,2201-03-23 19:14:33,General Care,Activity,New,NaN,NaN,P04TDP,Inactive
3,10002930-453,453,10002930,20282368,2201-03-23 19:14:33,IV therapy,IV access,New,NaN,NaN,P04TDP,Inactive
4,10002930-452,452,10002930,20282368,2201-03-23 19:14:33,ADT orders,Admit,New,NaN,NaN,P04TDP,Inactive
...,...,...,...,...,...,...,...,...,...,...,...,...
45149,10005866-436,436,10005866,23514107,2149-06-20 11:44:47,Medications,NaN,New,NaN,10005866-464,P187JB,Inactive
45150,10005866-437,437,10005866,23514107,2149-06-20 11:44:47,Medications,NaN,New,NaN,10005866-462,P187JB,Inactive
45151,10005866-438,438,10005866,23514107,2149-06-20 11:44:47,General Care,Other,New,NaN,NaN,P187JB,Inactive
45152,10005866-434,434,10005866,23514107,2149-06-20 11:44:47,Lab,NaN,New,NaN,NaN,P187JB,Inactive
45153,10005866-433,433,10005866,23514107,2149-06-20 11:44:47,Lab,NaN,New,NaN,NaN,P187JB,Inactive

Location: ./mimic-iv-clinical-database-demo-2.2/hosp/d_hcpcs.csv.gz
File Name: ./mimic-iv-clinical-database-demo-2.2/hosp/d_hcpcs.csv.gz
Content:

,code,category,long_description,short_description
0,TD,NaN,Rn,Rn
1,A0428,NaN,"Ambulance service, basic life support, non-eme...",Bls
2,V5272,NaN,"Assistive listening device, tdd",Tdd
3,S2080,NaN,Laser-assisted uvulopalatoplasty (laup),Laup
4,S8037,NaN,Magnetic resonance cholangiopancreatography (m...,Mrcp
...,...,...,...,...
89195,0194T,3.0,NaN,Remote Real-Time Interactive Video-conferenced...
89196,0199T,3.0,NaN,Remote Real-Time Interactive Video-conferenced...
89197,0210T,3.0,NaN,Remote Real-Time Interactive Video-conferenced...
89198,0218T,3.0,NaN,Remote Real-Time Interactive Video-conferenced...
89199,0192T,3.0,NaN,Remote Real-Time Interactive Video-conferenced...

Location: ./mimic-iv-clinical-database-demo-2.2/hosp/poe_detail.csv.gz
File Name: ./mimic-iv-clinical-database-demo-2.2/hosp/poe_detail.csv.gz
Content:

,poe_id,poe_seq,subject_id,field_name,field_value
0,10011398-23,23,10011398,Admit to,Surgery
1,10011398-103,103,10011398,Transfer to,Surgery
2,10011398-163,163,10011398,Discharge Planning,Finalized
3,10011398-109,109,10011398,Tubes & Drains type,Chest tube
4,10011398-35,35,10011398,Tubes & Drains type,Chest tube
...,...,...,...,...,...
3790,10021118-7,7,10021118,Admit category,Admit to inpatient
3791,10021118-24,24,10021118,Code status,Resuscitate (Full code)
3792,10021118-100,100,10021118,Tubes & Drains type,Indwelling urinary catheter (IUC) - Foley
3793,10021118-227,227,10021118,Tubes & Drains type,Indwelling urinary catheter (IUC) - Foley
3794,10021118-158,158,10021118,Tubes & Drains type,Indwelling urinary catheter (IUC) - Foley

Location: ./mimic-iv-clinical-database-demo-2.2/hosp/patients.csv.gz
File Name: ./mimic-iv-clinical-database-demo-2.2/hosp/patients.csv.gz
Content:

    subject_id gender  anchor_age  anchor_year anchor_year_group         dod
0     10014729      F          21         2125       2011 - 2013         NaN
1     10003400      F          72         2134       2011 - 2013  2137-09-02
2     10002428      F          80         2155       2011 - 2013         NaN
3     10032725      F          38         2143       2011 - 2013  2143-03-30
4     10027445      F          48         2142       2011 - 2013  2146-02-09
..         ...    ...         ...          ...               ...         ...
95    10004733      M          51         2174       2014 - 2016         NaN
96    10021118      M          62         2161       2014 - 2016         NaN
97    10018501      M          83         2141       2014 - 2016         NaN
98    10007058      M          48         2167       2014 - 2016         NaN
99    10038992      M          70         2185       2014 - 2016         NaN

[100 rows x 6 columns]

Location: ./mimic-iv-clinical-database-demo-2.2/hosp/diagnoses_icd.csv.gz
File Name: ./mimic-iv-clinical-database-demo-2.2/hosp/diagnoses_icd.csv.gz
Content:

      subject_id   hadm_id  seq_num icd_code  icd_version
0       10035185  22580999        3     4139            9
1       10035185  22580999       10     V707            9
2       10035185  22580999        1    41401            9
3       10035185  22580999        9     3899            9
4       10035185  22580999       11    V8532            9
...          ...       ...      ...      ...          ...
4501    10004733  27411876       19     3129            9
4502    10004733  27411876       30    30000            9
4503    10004733  27411876       26     4739            9
4504    10004733  27411876       22    56210            9
4505    10004733  27411876       29    30390            9

[4506 rows x 5 columns]

Location: ./mimic-iv-clinical-database-demo-2.2/hosp/emar_detail.csv.gz
File Name: ./mimic-iv-clinical-database-demo-2.2/hosp/emar_detail.csv.gz
Content:

/var/folders/q3/z0pdr58n4bn46rs6tvs5t1y00000gn/T/ipykernel_6394/561793209.py:8: DtypeWarning: Columns (4,6,7,8,9,10,11,12,13,15,16,17,18,21,23,24,25,26,27,28,29,30,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)

,subject_id,emar_id,emar_seq,parent_field_ordinal,administration_type,pharmacy_id,barcode_type,reason_for_no_barcode,complete_dose_not_given,dose_due,...,infusion_rate_unit,route,infusion_complete,completion_interval,new_iv_bag_hung,continued_infusion_in_other_location,restart_interval,side,site,non_formulary_visual_verification
0,10039708,10039708-1750,1750,1.1,NaN,80400800.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10015860,10015860-565,565,1.1,NaN,98178739.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10005866,10005866-571,571,1.1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10014354,10014354-2295,2295,1.1,NaN,7889909.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10029291,10029291-140,140,NaN,IV Infusion,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,N,NaN,NaN,NaN,PRN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72013,10039708,10039708-1665,1665,NaN,Standard Maintenance Medication,NaN,NaN,NaN,NaN,0.125-0.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72014,10039708,10039708-1690,1690,NaN,Standard Maintenance Medication,NaN,NaN,NaN,NaN,0.125-0.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72015,10003400,10003400-114,114,NaN,Standard Maintenance Medication,NaN,NaN,NaN,No,0.125-0.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72016,10039708,10039708-1750,1750,NaN,Standard Maintenance Medication,NaN,NaN,Discarded Packaging,NaN,0.125-0.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72017,10039708,10039708-1706,1706,NaN,Standard Maintenance Medication,NaN,NaN,NaN,NaN,0.125-0.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Location: ./mimic-iv-clinical-database-demo-2.2/hosp/provider.csv.gz
File Name: ./mimic-iv-clinical-database-demo-2.2/hosp/provider.csv.gz
Content:

      provider_id
0          P003F3
1          P005JG
2          P005MB
3          P00707
4          P009IB
...           ...
40503      P99698
40504      P99OWY
40505      P99QSK
40506      P99WOA
40507      P99WTY

[40508 rows x 1 columns]

Location: ./mimic-iv-clinical-database-demo-2.2/hosp/prescriptions.csv.gz
File Name: ./mimic-iv-clinical-database-demo-2.2/hosp/prescriptions.csv.gz
Content:

,subject_id,hadm_id,pharmacy_id,poe_id,poe_seq,order_provider_id,starttime,stoptime,drug_type,drug,...,gsn,ndc,prod_strength,form_rx,dose_val_rx,dose_unit_rx,form_val_disp,form_unit_disp,doses_per_24_hrs,route
0,10027602,28166872,27168639,NaN,NaN,NaN,2201-10-30 12:00:00,NaN,MAIN,Fentanyl Citrate,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10027602,28166872,40720238,NaN,NaN,NaN,2201-10-30 12:00:00,NaN,MAIN,Fentanyl Citrate,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10027602,28166872,62845687,NaN,NaN,NaN,2201-10-31 12:00:00,NaN,MAIN,Lorazepam,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10027602,28166872,24340150,NaN,NaN,NaN,2201-10-30 12:00:00,NaN,MAIN,Midazolam,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10027602,28166872,14435820,NaN,NaN,NaN,2201-10-30 12:00:00,NaN,MAIN,Midazolam,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18082,10038081,20755971,33730068,10038081-378,378.0,P92KOD,2115-10-11 14:00:00,2115-10-13 07:00:00,MAIN,Artificial Tears,...,030016,2.305060e+07,0.4 mL DROPPERETTE,NaN,1-2,DROP,0.1667-0.3333,DRP,NaN,BOTH EYES
18083,10002428,23473524,87358294,10002428-780,780.0,P71IN4,2156-05-12 13:00:00,2156-05-22 18:00:00,MAIN,Artificial Tears,...,030016,2.305060e+07,0.3mL UD,NaN,1-2,DROP,0.1667-0.3333,DRP,NaN,BOTH EYES
18084,10040025,27996267,81941017,10040025-1640,1640.0,P52ORO,2148-01-26 19:00:00,2148-01-26 18:00:00,MAIN,OxyCODONE (Immediate Release),...,046474,9.046446e+08,15mg Tablet,NaN,5-10,mg,0.3333-0.6667,TAB,NaN,PO/NG
18085,10014354,26228185,46019806,10014354-3105,3105.0,P748G6,2150-05-01 01:00:00,2150-05-01 09:00:00,MAIN,Carbamide Peroxide 6.5%,...,008120,7.811207e+10,15mL Bottle,NaN,5-10,DROP,0.3333-0.6667,BTL,1.0,BOTH EARS
18086,10004457,25559382,44047546,10004457-443,443.0,P65SRP,2148-09-14 17:00:00,2148-09-15 17:00:00,MAIN,Acetaminophen,...,065758,1.211971e+08,650mg UD Cup,NaN,500-1000,mg,0.7692-1.5385,UDCUP,NaN,PO/NG

Location: ./mimic-iv-clinical-database-demo-2.2/hosp/drgcodes.csv.gz
File Name: ./mimic-iv-clinical-database-demo-2.2/hosp/drgcodes.csv.gz
Content:

,subject_id,hadm_id,drg_type,drg_code,description,drg_severity,drg_mortality
0,10004235,22187210,HCFA,864,FEVER,NaN,NaN
1,10026255,22059910,HCFA,180,RESPIRATORY NEOPLASMS W MCC,NaN,NaN
2,10032725,20611640,HCFA,54,NERVOUS SYSTEM NEOPLASMS W MCC,NaN,NaN
3,10005866,21636229,HCFA,393,OTHER DIGESTIVE SYSTEM DIAGNOSES W MCC,NaN,NaN
4,10008454,20291550,HCFA,956,"LIMB REATTACHMENT, HIP & FEMUR PROC FOR MULTIP...",NaN,NaN
...,...,...,...,...,...,...,...
449,10040025,27259207,HCFA,982,EXTENSIVE O.R. PROCEDURE UNRELATED TO PRINCIPA...,NaN,NaN
450,10001725,25563031,HCFA,982,EXTENSIVE O.R. PROCEDURE UNRELATED TO PRINCIPA...,NaN,NaN
451,10023239,21759936,HCFA,987,NON-EXTENSIVE O.R. PROC UNRELATED TO PRINCIPAL...,NaN,NaN
452,10019003,26529390,HCFA,987,NON-EXTENSIVE O.R. PROC UNRELATED TO PRINCIPAL...,NaN,NaN
453,10003400,23559586,HCFA,987,NON-EXTENSIVE O.R. PROC UNRELATED TO PRINCIPAL...,NaN,NaN

Location: ./mimic-iv-clinical-database-demo-2.2/hosp/d_icd_diagnoses.csv.gz
File Name: ./mimic-iv-clinical-database-demo-2.2/hosp/d_icd_diagnoses.csv.gz
Content:

,icd_code,icd_version,long_title
0,0090,9,"Infectious colitis, enteritis, and gastroenter..."
1,01160,9,"Tuberculous pneumonia [any form], unspecified"
2,01186,9,"Other specified pulmonary tuberculosis, tuberc..."
3,01200,9,"Tuberculous pleurisy, unspecified"
4,01236,9,"Tuberculous laryngitis, tubercle bacilli not f..."
...,...,...,...
109770,Z88,10,"Allergy status to drugs, medicaments and biolo..."
109771,Z89012,10,Acquired absence of left thumb
109772,Z90410,10,Acquired total absence of pancreas
109773,Z948,10,Other transplanted organ and tissue status
109774,Z96,10,Presence of other functional implants

Location: ./mimic-iv-clinical-database-demo-2.2/hosp/d_labitems.csv.gz
File Name: ./mimic-iv-clinical-database-demo-2.2/hosp/d_labitems.csv.gz
Content:

      itemid                       label                fluid    category
0      50808                Free Calcium                Blood   Blood Gas
1      50826                Tidal Volume                Blood   Blood Gas
2      50813                     Lactate                Blood   Blood Gas
3      52029           % Ionized Calcium                Blood   Blood Gas
4      50801  Alveolar-arterial Gradient                Blood   Blood Gas
...      ...                         ...                  ...         ...
1617   52249                      Delete  Cerebrospinal Fluid  Hematology
1618   52251                      Delete  Cerebrospinal Fluid  Hematology
1619   52266                  Macrophage  Cerebrospinal Fluid  Hematology
1620   52262           Immunophenotyping  Cerebrospinal Fluid  Hematology
1621   52265                     Lymphs#  Cerebrospinal Fluid  Hematology

[1622 rows x 4 columns]

Location: ./mimic-iv-clinical-database-demo-2.2/hosp/transfers.csv.gz
File Name: ./mimic-iv-clinical-database-demo-2.2/hosp/transfers.csv.gz
Content:

,subject_id,hadm_id,transfer_id,eventtype,careunit,intime,outtime
0,10009049,22995465.0,30030230,discharge,NaN,2174-05-31 14:21:47,NaN
1,10025612,23403708.0,32533329,discharge,NaN,2125-10-03 12:25:27,NaN
2,10020786,23488445.0,37922399,discharge,NaN,2189-06-13 17:25:44,NaN
3,10014078,25809882.0,34694622,discharge,NaN,2166-08-26 14:49:42,NaN
4,10039831,26924951.0,37155928,discharge,NaN,2116-01-02 14:35:02,NaN
...,...,...,...,...,...,...,...
1185,10021118,24490144.0,31983963,transfer,PACU,2161-11-19 07:16:15,2161-11-19 10:04:04
1186,10021118,24490144.0,38367109,transfer,Cardiac Surgery,2161-11-20 21:45:42,2161-11-23 16:06:31
1187,10021118,24490144.0,39362807,transfer,Medicine/Cardiology,2161-11-16 19:53:20,2161-11-19 07:16:15
1188,10021118,24490144.0,38425947,admit,Medicine/Cardiology,2161-11-15 20:10:55,2161-11-16 19:53:20
1189,10021118,24490144.0,36558922,transfer,Cardiac Vascular Intensive Care Unit (CVICU),2161-11-19 10:04:04,2161-11-20 21:45:42

Location: ./mimic-iv-clinical-database-demo-2.2/hosp/admissions.csv.gz
File Name: ./mimic-iv-clinical-database-demo-2.2/hosp/admissions.csv.gz
Content:

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,language,marital_status,race,edregtime,edouttime,hospital_expire_flag
0,10004235,24181354,2196-02-24 14:38:00,2196-03-04 14:02:00,NaN,URGENT,P03YMR,TRANSFER FROM HOSPITAL,SKILLED NURSING FACILITY,Medicaid,ENGLISH,SINGLE,BLACK/CAPE VERDEAN,2196-02-24 12:15:00,2196-02-24 17:07:00,0
1,10009628,25926192,2153-09-17 17:08:00,2153-09-25 13:20:00,NaN,URGENT,P41R5N,TRANSFER FROM HOSPITAL,HOME HEALTH CARE,Medicaid,?,MARRIED,HISPANIC/LATINO - PUERTO RICAN,NaN,NaN,0
2,10018081,23983182,2134-08-18 02:02:00,2134-08-23 19:35:00,NaN,URGENT,P233F6,TRANSFER FROM HOSPITAL,SKILLED NURSING FACILITY,Medicare,ENGLISH,MARRIED,WHITE,2134-08-17 16:24:00,2134-08-18 03:15:00,0
3,10006053,22942076,2111-11-13 23:39:00,2111-11-15 17:20:00,2111-11-15 17:20:00,URGENT,P38TI6,TRANSFER FROM HOSPITAL,DIED,Medicaid,ENGLISH,NaN,UNKNOWN,NaN,NaN,1
4,10031404,21606243,2113-08-04 18:46:00,2113-08-06 20:57:00,NaN,URGENT,P07HDB,TRANSFER FROM HOSPITAL,HOME,Other,ENGLISH,WIDOWED,WHITE,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,10038992,24745425,2187-07-29 01:05:00,2187-08-03 17:02:00,NaN,SURGICAL SAME DAY ADMISSION,P41R5N,PHYSICIAN REFERRAL,SKILLED NURSING FACILITY,Medicare,ENGLISH,MARRIED,WHITE,NaN,NaN,0
271,10008287,22168393,2145-09-28 01:17:00,2145-10-02 13:35:00,NaN,SURGICAL SAME DAY ADMISSION,P898NM,PHYSICIAN REFERRAL,HOME HEALTH CARE,Other,ENGLISH,SINGLE,WHITE,NaN,NaN,0
272,10022880,27708593,2177-03-12 07:15:00,2177-03-19 14:25:00,NaN,SURGICAL SAME DAY ADMISSION,P99698,PHYSICIAN REFERRAL,HOME,Medicare,ENGLISH,MARRIED,WHITE,NaN,NaN,0
273,10004457,23251352,2141-12-17 11:00:00,2141-12-21 15:56:00,NaN,SURGICAL SAME DAY ADMISSION,P41R5N,PHYSICIAN REFERRAL,REHAB,Medicare,ENGLISH,SINGLE,OTHER,NaN,NaN,0
274,10004457,28108313,2147-12-19 00:00:00,2147-12-21 16:10:00,NaN,SURGICAL SAME DAY ADMISSION,P10WWR,PHYSICIAN REFERRAL,SKILLED NURSING FACILITY,Medicare,ENGLISH,DIVORCED,WHITE,NaN,NaN,0

Location: ./mimic-iv-clinical-database-demo-2.2/hosp/labevents.csv.gz
File Name: ./mimic-iv-clinical-database-demo-2.2/hosp/labevents.csv.gz
Content:

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments
0,172061,10014354,29600294.0,1808066,51277,NaN,2148-08-16 00:00:00,2148-08-16 01:30:00,15.4,15.40,%,10.5,15.5,NaN,ROUTINE,NaN
1,172062,10014354,29600294.0,1808066,51279,NaN,2148-08-16 00:00:00,2148-08-16 01:30:00,3.35,3.35,m/uL,4.6,6.1,abnormal,ROUTINE,NaN
2,172068,10014354,29600294.0,1808066,52172,NaN,2148-08-16 00:00:00,2148-08-16 01:30:00,49.7,49.70,fL,35.1,46.3,abnormal,ROUTINE,NaN
3,172063,10014354,29600294.0,1808066,51301,NaN,2148-08-16 00:00:00,2148-08-16 01:30:00,20.3,20.30,K/uL,4.0,10.0,abnormal,ROUTINE,NaN
4,172050,10014354,29600294.0,1808066,51249,NaN,2148-08-16 00:00:00,2148-08-16 01:30:00,31.1,31.10,g/dL,32.0,37.0,abnormal,ROUTINE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107722,254700,10021487,28998349.0,78791160,50804,NaN,2116-12-07 18:59:00,2116-12-07 19:00:00,35,35.00,mEq/L,21.0,30.0,abnormal,NaN,NaN
107723,254702,10021487,28998349.0,78791160,50818,NaN,2116-12-07 18:59:00,2116-12-07 19:00:00,56,56.00,mm Hg,35.0,45.0,abnormal,NaN,NaN
107724,254707,10021487,28998349.0,78791160,52033,NaN,2116-12-07 18:59:00,2116-12-07 18:59:00,ART.,NaN,NaN,NaN,NaN,NaN,NaN,___
107725,254706,10021487,28998349.0,78791160,50825,NaN,2116-12-07 18:59:00,2116-12-07 18:59:00,39.7,39.70,NaN,NaN,NaN,NaN,NaN,NaN
107726,454886,10038999,27189241.0,13534028,50873,NaN,2131-05-23 21:59:00,2131-05-25 14:36:00,___,NaN,NaN,NaN,NaN,NaN,STAT,NEGATIVE.

Location: ./mimic-iv-clinical-database-demo-2.2/hosp/pharmacy.csv.gz
File Name: ./mimic-iv-clinical-database-demo-2.2/hosp/pharmacy.csv.gz
Content:

,subject_id,hadm_id,pharmacy_id,poe_id,starttime,stoptime,medication,proc_type,status,entertime,...,basal_rate,one_hr_max,doses_per_24_hrs,duration,duration_interval,expiration_value,expiration_unit,expirationdate,dispensation,fill_quantity
0,10027602,28166872,24340150,NaN,2201-10-30 12:00:00,NaN,Midazolam,Miscellaneous Charges,Inactive (Due to a change order),2201-10-30 12:32:11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10027602,28166872,14435820,NaN,2201-10-30 12:00:00,NaN,Midazolam,Miscellaneous Charges,Inactive (Due to a change order),2201-10-30 12:54:34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10027602,28166872,40720238,NaN,2201-10-30 12:00:00,NaN,Fentanyl Citrate,Miscellaneous Charges,Inactive (Due to a change order),2201-10-30 12:32:11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10027602,28166872,27168639,NaN,2201-10-30 12:00:00,NaN,Fentanyl Citrate,Miscellaneous Charges,Inactive (Due to a change order),2201-10-30 12:54:34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10027602,28166872,62845687,NaN,2201-10-31 12:00:00,NaN,Lorazepam,Miscellaneous Charges,Inactive (Due to a change order),2201-10-31 12:02:42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15301,10014354,22508257,1794302,10014354-984,2148-05-16 13:00:00,2148-05-17 13:00:00,MoviPrep,Unit Dose,Discontinued,2148-05-16 12:05:01,...,NaN,NaN,2.0,2.0,Doses,365.0,Days,NaN,Omnicell,NaN
15302,10014354,22508257,33207382,10014354-992,2148-05-17 09:00:00,2148-05-18 05:00:00,MoviPrep,Unit Dose,Discontinued,2148-05-17 08:56:51,...,NaN,NaN,2.0,2.0,Doses,365.0,Days,NaN,Omnicell,NaN
15303,10014354,22508257,12690116,10014354-1000,2148-05-17 21:00:00,2148-05-18 05:00:00,MoviPrep,Unit Dose,Discontinued,2148-05-17 21:17:45,...,NaN,NaN,2.0,2.0,Doses,365.0,Days,NaN,Pharmacy Meds,NaN
15304,10014354,22508257,99002619,10014354-1001,2148-05-18 06:00:00,2148-05-18 08:00:00,MoviPrep,Unit Dose,Discontinued,2148-05-18 05:31:43,...,NaN,NaN,2.0,2.0,Doses,365.0,Days,NaN,Pharmacy Meds,NaN
15305,10014354,22508257,25693774,10014354-1022,2148-05-19 11:00:00,2148-05-20 21:00:00,MoviPrep,Unit Dose,Discontinued via patient discharge,2148-05-19 10:33:56,...,NaN,NaN,2.0,2.0,Doses,365.0,Days,NaN,Omnicell,NaN

Location: ./mimic-iv-clinical-database-demo-2.2/hosp/procedures_icd.csv.gz
File Name: ./mimic-iv-clinical-database-demo-2.2/hosp/procedures_icd.csv.gz
Content:

     subject_id   hadm_id  seq_num   chartdate icd_code  icd_version
0      10011398  27505812        3  2146-12-15     3961            9
1      10011398  27505812        2  2146-12-15     3615            9
2      10011398  27505812        1  2146-12-15     3614            9
3      10014729  23300884        4  2125-03-23     3897            9
4      10014729  23300884        1  2125-03-20     3403            9
..          ...       ...      ...         ...      ...          ...
717    10004733  27411876        3  2174-12-20     4513            9
718    10021118  24490144        4  2161-11-19  5A1221Z           10
719    10021118  24490144        3  2161-11-19  06BP4ZZ           10
720    10021118  24490144        1  2161-11-19  02100Z9           10
721    10021118  24490144        2  2161-11-19  02110Z3           10

[722 rows x 6 columns]

Location: ./mimic-iv-clinical-database-demo-2.2/hosp/hcpcsevents.csv.gz
File Name: ./mimic-iv-clinical-database-demo-2.2/hosp/hcpcsevents.csv.gz
Content:

,subject_id,hadm_id,chartdate,hcpcs_cd,seq_num,short_description
0,10005348,29176490,2129-05-22,93454,1,Cardiovascular
1,10005348,29176490,2129-05-22,92921,2,Cardiovascular
2,10004457,21039249,2140-09-17,92980,1,Cardiovascular
3,10004457,25559382,2148-09-14,93455,1,Cardiovascular
4,10039708,27504040,2142-07-06,64415,2,Nervous system
...,...,...,...,...,...,...
56,10039708,27504040,2142-07-06,99219,3,Hospital observation services
57,10039708,22999601,2142-05-15,99219,1,Hospital observation services
58,10035631,29654498,2113-07-17,99218,3,Hospital observation services
59,10012853,20457729,2177-11-03,99219,2,Hospital observation services
60,10040025,27125816,2143-03-18,99218,2,Hospital observation services

Location: ./mimic-iv-clinical-database-demo-2.2/hosp/services.csv.gz
File Name: ./mimic-iv-clinical-database-demo-2.2/hosp/services.csv.gz
Content:

     subject_id   hadm_id         transfertime prev_service curr_service
0      10001725  25563031  2110-04-11 15:09:36          NaN          GYN
1      10019003  28003918  2148-12-21 03:32:53          NaN          GYN
2      10007818  22987108  2146-06-10 16:38:18          NaN          MED
3      10004235  24181354  2196-02-24 14:39:31          NaN          MED
4      10026255  22059910  2201-07-07 18:16:14          NaN          MED
..          ...       ...                  ...          ...          ...
314    10005909  20199380  2144-10-28 23:20:44          NaN        VSURG
315    10040025  27996267  2148-01-23 12:18:49          NaN        VSURG
316    10040025  25933959  2147-12-29 19:37:01          NaN        VSURG
317    10040025  27259207  2147-12-04 20:49:51          NaN        VSURG
318    10004457  28108313  2147-12-19 02:11:29          NaN        VSURG

[319 rows x 5 columns]

Location: ./mimic-iv-clinical-database-demo-2.2/hosp/d_icd_procedures.csv.gz
File Name: ./mimic-iv-clinical-database-demo-2.2/hosp/d_icd_procedures.csv.gz
Content:

      icd_code  icd_version                                         long_title
0         0039            9                    Other computer assisted surgery
1         0048            9          Insertion of four or more vascular stents
2         0074            9         Hip bearing surface, metal-on-polyethylene
3         0077            9       Hip bearing surface, ceramic-on-polyethylene
4         0126            9  Insertion of catheter(s) into cranial cavity o...
...        ...          ...                                                ...
85252  F15Z68Z           10  Computerized Dynamic Posturography Assessment ...
85253  HZ37ZZZ           10  Individual Counseling for Substance Abuse Trea...
85254  X27L395           10  Dilation of Proximal Left Popliteal Artery wit...
85255  X2C0361           10  Extirpation of Matter from Coronary Artery, On...
85256      XRG           10                     New Technology, Joints, Fusion

[85257 rows x 3 columns]

Location: ./mimic-iv-clinical-database-demo-2.2/hosp/omr.csv.gz
File Name: ./mimic-iv-clinical-database-demo-2.2/hosp/omr.csv.gz
Content:

      subject_id   chartdate  seq_num      result_name result_value
0       10011398  2146-12-01        1  Height (Inches)           63
1       10011398  2147-01-22        1     Weight (Lbs)          127
2       10011398  2146-12-01        1     Weight (Lbs)          135
3       10011398  2147-07-24        1     Weight (Lbs)          136
4       10011398  2147-03-26        1     Weight (Lbs)          136
...          ...         ...      ...              ...          ...
2959    10021118  2161-11-15        1  Height (Inches)           71
2960    10021118  2161-11-15        1      BMI (kg/m2)         35.2
2961    10021118  2161-11-29        1   Blood Pressure       111/72
2962    10021118  2161-12-25        1   Blood Pressure       135/76
2963    10021118  2161-11-15        1     Weight (Lbs)       252.65

[2964 rows x 5 columns]

Location: ./mimic-iv-clinical-database-demo-2.2/hosp/emar.csv.gz
File Name: ./mimic-iv-clinical-database-demo-2.2/hosp/emar.csv.gz
Content:

,subject_id,hadm_id,emar_id,emar_seq,poe_id,pharmacy_id,enter_provider_id,charttime,medication,event_txt,scheduletime,storetime
0,10005909,20199380.0,10005909-74,74,10005909-97,96110427.0,NaN,2144-10-31 05:56:00,Magnesium Sulfate,NaN,2144-10-31 05:56:00,2144-10-31 05:56:00
1,10005909,20199380.0,10005909-79,79,10005909-97,96110427.0,NaN,2144-10-31 08:00:00,Magnesium Sulfate,NaN,2144-10-31 08:00:00,2144-10-31 08:15:00
2,10008287,22168393.0,10008287-32,32,10008287-58,NaN,P26PKF,2145-09-28 20:15:00,Potassium Chloride Replacement (Critical Care ...,NaN,2145-09-28 20:15:00,2145-09-28 20:38:00
3,10010471,21322534.0,10010471-33,33,10010471-51,52131847.0,NaN,2155-05-08 21:45:00,Metoprolol Tartrate,NaN,2155-05-08 21:45:00,2155-05-08 22:40:00
4,10015272,27993466.0,10015272-31,31,10015272-48,88758875.0,NaN,2137-06-13 08:36:00,Metoprolol Tartrate,NaN,2137-06-13 08:36:00,2137-06-13 08:36:00
...,...,...,...,...,...,...,...,...,...,...,...,...
35830,10037861,24540843.0,10037861-371,371,10037861-385,NaN,NaN,2117-03-17 19:00:00,Midazolam,Infusion Reconciliation Not Done,2117-03-17 19:00:00,2117-03-17 18:33:00
35831,10018423,29366372.0,10018423-20,20,10018423-64,NaN,P401QD,2167-05-04 17:00:00,Heparin,Stopped - Unscheduled in Other Location,2167-05-04 17:00:00,2167-05-04 18:19:00
35832,10014354,28335091.0,10014354-259,259,10014354-301,NaN,NaN,2147-04-28 17:00:00,Heparin,Stopped - Unscheduled in Other Location,2106-09-29 00:00:00,2147-04-28 22:34:00
35833,10019003,27525946.0,10019003-255,255,10019003-538,NaN,NaN,2153-04-14 17:00:00,PHENYLEPHrine,Stopped - Unscheduled in Other Location,2153-04-14 17:00:00,2153-04-15 02:28:00
35834,10029291,22205327.0,10029291-530,530,10029291-400,NaN,NaN,2123-03-03 18:00:00,NaN,Stopped - Unscheduled in Other Location,2123-03-03 18:00:00,2123-03-04 06:26:00

Location: ./mimic-iv-clinical-database-demo-2.2/hosp/microbiologyevents.csv.gz
File Name: ./mimic-iv-clinical-database-demo-2.2/hosp/microbiologyevents.csv.gz
Content:

,microevent_id,subject_id,hadm_id,micro_specimen_id,order_provider_id,chartdate,charttime,spec_itemid,spec_type_desc,test_seq,...,org_name,isolate_num,quantity,ab_itemid,ab_name,dilution_text,dilution_comparison,dilution_value,interpretation,comments
0,36,10000032,25742920.0,7814634,NaN,2180-08-06 00:00:00,2180-08-06 20:35:00,70070,SWAB,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No VRE isolated.
1,15,10000032,22595853.0,5717063,NaN,2180-05-07 00:00:00,2180-05-07 00:19:00,70070,SWAB,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No VRE isolated.
2,32,10000032,29079034.0,5901894,NaN,2180-07-24 00:00:00,2180-07-24 00:55:00,70070,SWAB,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No VRE isolated.
3,7013,10020944,29974575.0,4646730,NaN,2131-02-27 00:00:00,2131-02-27 17:41:00,70070,SWAB,1,...,ENTEROCOCCUS SP.,1.0,NaN,90015.0,VANCOMYCIN,>256,NaN,NaN,R,NaN
4,12898,10037975,27617929.0,1636367,NaN,2185-01-17 00:00:00,2185-01-17 21:32:00,70070,SWAB,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No VRE isolated.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2894,5941,10016742,28506150.0,7963244,NaN,2178-07-14 00:00:00,2178-07-14 12:30:00,70057,Rapid Respiratory Viral Screen & Culture,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,___
2895,6555,10019003,25508812.0,6125825,NaN,2155-05-23 00:00:00,2155-05-23 13:12:00,70057,Rapid Respiratory Viral Screen & Culture,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Negative for Respiratory Viral Antigen. Speci...
2896,4636,10014354,NaN,1449650,NaN,2147-11-14 00:00:00,2147-11-14 22:30:00,70057,Rapid Respiratory Viral Screen & Culture,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Negative for Respiratory Viral Antigen. Speci...
2897,5600,10015860,22413744.0,7847968,NaN,2191-01-20 00:00:00,2191-01-20 19:00:00,70064,STOOL,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO MICROSPORIDIUM SEEN.
2898,12777,10037928,23721604.0,8554697,NaN,2179-04-03 00:00:00,2179-04-03 08:52:00,70057,Rapid Respiratory Viral Screen & Culture,3,...,POSITIVE FOR INFLUENZA A VIRAL ANTIGEN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,___

In [10]:
path = "./mimic-iv-clinical-database-demo-2.2/icu/"
csv_files = glob.glob(os.path.join(path, "*.csv.gz"))
  
# loop over the list of csv files
for f in csv_files:
      
    # read the csv file
    df = pd.read_csv(f)
      
    # print the location and filename
    print('Location:', f)
    print('File Name:', f.split("\\")[-1])
      
    # print the content
    print('Content:')
    display(df)
    print()

Location: ./mimic-iv-clinical-database-demo-2.2/icu/datetimeevents.csv.gz
File Name: ./mimic-iv-clinical-database-demo-2.2/icu/datetimeevents.csv.gz
Content:

,subject_id,hadm_id,stay_id,caregiver_id,charttime,storetime,itemid,value,valueuom,warning
0,10002428,23473524,35479615,29441,2156-05-15 10:50:00,2156-05-15 10:50:00,225343,2156-05-11 00:00:00,Date,0
1,10002428,23473524,35479615,29441,2156-05-15 10:50:00,2156-05-15 10:50:00,225348,2156-05-11 00:00:00,Date,0
2,10002428,23473524,35479615,29441,2156-05-15 10:50:00,2156-05-15 10:50:00,225345,2156-05-14 09:00:00,Date and Time,0
3,10002428,23473524,35479615,29441,2156-05-15 09:00:00,2156-05-15 10:51:00,224186,2156-05-15 09:00:00,Date and Time,0
4,10002428,23473524,35479615,29441,2156-05-15 09:00:00,2156-05-15 10:51:00,224187,2156-05-15 10:50:00,Date,0
...,...,...,...,...,...,...,...,...,...,...
15275,10016742,29281842,37057036,82943,2178-07-07 08:00:00,2178-07-07 09:37:00,225754,2178-07-06 00:00:00,Date,0
15276,10016742,29281842,37057036,82943,2178-07-07 12:00:00,2178-07-07 14:03:00,224187,2178-07-07 14:03:00,Date,0
15277,10016742,29281842,37057036,82943,2178-07-07 12:00:00,2178-07-07 14:03:00,224184,2178-07-07 14:03:00,Date,0
15278,10016742,29281842,37057036,82943,2178-07-07 12:00:00,2178-07-07 14:03:00,224183,2178-07-07 14:03:00,Date,0
15279,10016742,29281842,37057036,82943,2178-07-07 12:00:00,2178-07-07 14:03:00,224186,2178-07-07 12:30:00,Date and Time,0

Location: ./mimic-iv-clinical-database-demo-2.2/icu/caregiver.csv.gz
File Name: ./mimic-iv-clinical-database-demo-2.2/icu/caregiver.csv.gz
Content:

       caregiver_id
0               444
1              1016
2              1135
3              1172
4              1353
...             ...
15463         98368
15464         99539
15465         99577
15466         99807
15467         99840

[15468 rows x 1 columns]

Location: ./mimic-iv-clinical-database-demo-2.2/icu/ingredientevents.csv.gz
File Name: ./mimic-iv-clinical-database-demo-2.2/icu/ingredientevents.csv.gz
Content:

,subject_id,hadm_id,stay_id,caregiver_id,starttime,endtime,storetime,itemid,amount,amountuom,rate,rateuom,orderid,linkorderid,statusdescription,originalamount,originalrate
0,10005817,20626031,32604416,4793,2132-12-17 05:00:00,2132-12-17 06:00:00,2132-12-17 06:01:00,227074,49.999999,ml,50.000000,mL/hour,7330951,7330951,FinishedRunning,0,50.000000
1,10005817,20626031,32604416,4793,2132-12-17 05:00:00,2132-12-17 06:00:00,2132-12-17 06:01:00,220490,49.999999,ml,50.000000,mL/hour,7330951,7330951,FinishedRunning,0,50.000000
2,10005817,20626031,32604416,20310,2132-12-17 12:00:00,2132-12-17 13:00:00,2132-12-17 12:48:00,220490,249.999990,ml,249.999985,mL/hour,5334154,5334154,FinishedRunning,0,250.000000
3,10005817,20626031,32604416,20310,2132-12-17 12:00:00,2132-12-17 13:00:00,2132-12-17 12:48:00,226509,249.999990,ml,249.999985,mL/hour,5334154,5334154,FinishedRunning,0,250.000000
4,10005817,20626031,32604416,92805,2132-12-15 16:35:00,2132-12-15 18:00:00,2132-12-15 16:42:00,220490,38.852669,ml,27.425413,mL/hour,1386365,3042892,ChangeDose/Rate,0,47.080292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25723,10019003,29279905,34107647,68979,2153-03-28 21:58:00,2153-03-28 22:58:00,2153-03-28 23:22:00,227074,49.999999,ml,50.000000,mL/hour,6547485,6547485,FinishedRunning,0,50.000000
25724,10019003,29279905,34107647,68979,2153-03-28 02:58:00,2153-03-28 02:59:00,2153-03-28 02:58:00,227075,120.000000,ml,NaN,NaN,103707,103707,FinishedRunning,0,120.000000
25725,10019003,29279905,34107647,68979,2153-03-28 02:58:00,2153-03-28 02:59:00,2153-03-28 02:58:00,220490,120.000000,ml,NaN,NaN,103707,103707,FinishedRunning,0,120.000000
25726,10019003,29279905,34107647,88156,2153-03-29 20:58:00,2153-03-29 20:59:00,2153-03-29 20:58:00,220490,500.000000,ml,NaN,NaN,9142525,9142525,FinishedRunning,0,500.000000
25727,10019003,29279905,34107647,88156,2153-03-29 20:58:00,2153-03-29 20:59:00,2153-03-29 20:58:00,227074,500.000000,ml,NaN,NaN,9142525,9142525,FinishedRunning,0,500.000000

Location: ./mimic-iv-clinical-database-demo-2.2/icu/inputevents.csv.gz
File Name: ./mimic-iv-clinical-database-demo-2.2/icu/inputevents.csv.gz
Content:

,subject_id,hadm_id,stay_id,caregiver_id,starttime,endtime,storetime,itemid,amount,amountuom,...,ordercomponenttypedescription,ordercategorydescription,patientweight,totalamount,totalamountuom,isopenbag,continueinnextdept,statusdescription,originalamount,originalrate
0,10005817,20626031,32604416,4793,2132-12-16 19:50:00,2132-12-16 19:51:00,2132-12-16 19:50:00,225798,1.000000,dose,...,Main order parameter,Drug Push,91.0,500.0,ml,0,0,FinishedRunning,1.000000,1.000000
1,10005817,20626031,32604416,92805,2132-12-15 20:15:00,2132-12-15 20:16:00,2132-12-15 20:11:00,225798,1.000000,dose,...,Main order parameter,Drug Push,91.0,500.0,ml,0,0,FinishedRunning,1.000000,1.000000
2,10005817,20626031,32604416,20310,2132-12-17 09:15:00,2132-12-17 09:16:00,2132-12-17 09:28:00,225798,1.000000,dose,...,Main order parameter,Drug Push,91.0,500.0,ml,0,0,FinishedRunning,1.000000,1.000000
3,10005817,20626031,32604416,79166,2132-12-16 09:36:00,2132-12-16 09:37:00,2132-12-16 09:37:00,225798,1.000000,dose,...,Main order parameter,Drug Push,91.0,500.0,ml,0,0,FinishedRunning,1.000000,1.000000
4,10005817,20626031,32604416,92805,2132-12-15 20:10:00,2132-12-15 21:10:00,2132-12-15 20:10:00,221456,2.000000,grams,...,Additives ...,Continuous IV,91.0,100.0,ml,0,0,FinishedRunning,2.000000,0.033333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20399,10019003,29279905,34107647,88156,2153-03-29 20:58:00,2153-03-29 20:59:00,2153-03-29 20:58:00,221385,0.500000,mg,...,Main order parameter,Drug Push,96.0,NaN,NaN,0,0,FinishedRunning,0.500000,0.500000
20400,10019003,29279905,34107647,83144,2153-03-30 00:00:00,2153-03-30 00:01:00,2153-03-30 01:24:00,221385,0.500000,mg,...,Main order parameter,Drug Push,96.0,NaN,NaN,0,0,FinishedRunning,0.500000,0.500000
20401,10019003,29279905,34107647,68979,2153-03-28 02:57:00,2153-03-28 04:48:00,2153-03-28 02:58:00,221906,0.319770,mg,...,Main order parameter,Continuous Med,96.0,250.0,ml,0,0,ChangeDose/Rate,8.000000,0.030000
20402,10019003,29279905,34107647,68979,2153-03-28 06:05:00,2153-03-28 08:00:00,2153-03-28 06:11:00,221906,0.110377,mg,...,Main order parameter,Continuous Med,96.0,250.0,ml,0,0,Paused,7.532536,0.010000
20403,10019003,29279905,34107647,68979,2153-03-28 04:48:00,2153-03-28 06:05:00,2153-03-28 06:11:00,221906,0.147810,mg,...,Main order parameter,Continuous Med,96.0,250.0,ml,0,0,ChangeDose/Rate,7.680346,0.020000

Location: ./mimic-iv-clinical-database-demo-2.2/icu/procedureevents.csv.gz
File Name: ./mimic-iv-clinical-database-demo-2.2/icu/procedureevents.csv.gz
Content:

,subject_id,hadm_id,stay_id,caregiver_id,starttime,endtime,storetime,itemid,value,valueuom,...,orderid,linkorderid,ordercategoryname,ordercategorydescription,patientweight,isopenbag,continueinnextdept,statusdescription,ORIGINALAMOUNT,ORIGINALRATE
0,10027445,26275841,34499716,10712.0,2142-07-31 01:54:00,2142-08-02 10:44:00,2142-08-02 10:44:00,225792,3410.0,min,...,532221,532221,Ventilation,ContinuousProcess,103.0,1,0,FinishedRunning,3410.0,1
1,10027445,26275841,34499716,80518.0,2142-07-31 08:18:00,2142-08-03 15:10:00,2142-08-03 15:23:00,224263,4732.0,min,...,401769,401769,Invasive Lines,ContinuousProcess,103.0,1,0,FinishedRunning,4732.0,1
2,10027445,26275841,34499716,96407.0,2142-07-31 06:00:00,2142-08-03 06:03:00,2142-08-03 08:16:00,224275,4323.0,min,...,9714245,9714245,Peripheral Lines,ContinuousProcess,103.0,1,0,FinishedRunning,4323.0,1
3,10027445,26275841,34499716,96407.0,2142-07-31 02:00:00,2142-08-03 05:57:00,2142-08-03 08:15:00,224275,4557.0,min,...,2870557,2870557,Peripheral Lines,ContinuousProcess,103.0,1,0,FinishedRunning,4557.0,1
4,10027445,26275841,34499716,NaN,2142-08-03 08:00:00,2142-08-03 21:06:00,2142-08-03 21:06:00.090,224277,786.0,min,...,4920092,4920092,Peripheral Lines,ContinuousProcess,103.0,1,0,FinishedRunning,786.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1463,10016742,27568122,30425410,80518.0,2178-07-23 17:02:00,2178-07-23 17:03:00,2178-07-23 17:02:00,225400,1.0,None,...,9107536,9107536,Procedures,Task,60.0,0,0,FinishedRunning,1.0,0
1464,10016742,27568122,30425410,NaN,2178-07-22 09:30:00,2178-07-25 16:42:00,2178-07-25 16:42:46.113,229351,4752.0,min,...,5156714,5156714,Tubes,ContinuousProcess,60.0,1,0,FinishedRunning,4752.0,1
1465,10000032,29079034,39553978,NaN,2180-07-23 14:24:00,2180-07-23 23:50:00,2180-07-23 23:50:49.983,224275,566.0,min,...,6497934,6497934,Peripheral Lines,ContinuousProcess,39.4,1,0,FinishedRunning,566.0,1
1466,10000032,29079034,39553978,NaN,2180-07-23 14:24:00,2180-07-23 23:50:00,2180-07-23 23:50:49.983,224277,566.0,min,...,9643097,9643097,Peripheral Lines,ContinuousProcess,39.4,1,0,FinishedRunning,566.0,1
1467,10000032,29079034,39553978,88981.0,2180-07-23 14:43:00,2180-07-23 14:44:00,2180-07-23 14:43:00,225966,1.0,None,...,6416557,6416557,Procedures,Task,39.4,0,0,FinishedRunning,1.0,0

Location: ./mimic-iv-clinical-database-demo-2.2/icu/d_items.csv.gz
File Name: ./mimic-iv-clinical-database-demo-2.2/icu/d_items.csv.gz
Content:

,itemid,label,abbreviation,linksto,category,unitname,param_type,lownormalvalue,highnormalvalue
0,226228,Gender,Gender,chartevents,ADT,NaN,Text,NaN,NaN
1,226545,Race,Race,chartevents,ADT,NaN,Text,NaN,NaN
2,229877,Suction events (CH),Suction events (CH),chartevents,ECMO,NaN,Text,NaN,NaN
3,229875,Oxygenator visible (CH),Oxygenator visible (CH),chartevents,ECMO,NaN,Text,NaN,NaN
4,229266,Cannula sites visually inspected (ECMO),Cannula sites visually inspected (ECMO),chartevents,ECMO,NaN,Text,NaN,NaN
...,...,...,...,...,...,...,...,...,...
4009,227452,Tobramycin (Trough),Tobramycin (Trough),chartevents,Labs,None,Numeric with tag,NaN,NaN
4010,227451,Tobramycin (Random),Tobramycin (Random),chartevents,Labs,None,Numeric with tag,NaN,NaN
4011,227457,Platelet Count,Platelet Count,chartevents,Labs,None,Numeric with tag,NaN,NaN
4012,227468,Fibrinogen,Fibrinogen,chartevents,Labs,None,Numeric with tag,NaN,NaN
4013,227463,Cortisol,Cortisol,chartevents,Labs,None,Numeric with tag,NaN,NaN

Location: ./mimic-iv-clinical-database-demo-2.2/icu/chartevents.csv.gz
File Name: ./mimic-iv-clinical-database-demo-2.2/icu/chartevents.csv.gz
Content:

,subject_id,hadm_id,stay_id,caregiver_id,charttime,storetime,itemid,value,valuenum,valueuom,warning
0,10005817,20626031,32604416,6770.0,2132-12-16 00:00:00,2132-12-15 23:45:00,225054,On,NaN,NaN,0.0
1,10005817,20626031,32604416,6770.0,2132-12-16 00:00:00,2132-12-15 23:43:00,223769,100,100.0,%,0.0
2,10005817,20626031,32604416,6770.0,2132-12-16 00:00:00,2132-12-15 23:47:00,223956,Atrial demand,NaN,NaN,0.0
3,10005817,20626031,32604416,6770.0,2132-12-16 00:00:00,2132-12-15 23:47:00,224866,Yes,NaN,NaN,0.0
4,10005817,20626031,32604416,6770.0,2132-12-16 00:00:00,2132-12-15 23:45:00,227341,No,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...
668857,10019003,29279905,34107647,60023.0,2153-03-28 10:49:28,NaN,220001,.Care Plan - Infection,NaN,NaN,NaN
668858,10019003,29279905,34107647,60023.0,2153-03-28 10:49:28,NaN,220001,"Diabetes Mellitus (DM), Type II",NaN,NaN,NaN
668859,10019003,29279905,34107647,60023.0,2153-03-28 10:49:28,NaN,220001,.Care Plan - Coping,NaN,NaN,NaN
668860,10019003,29279905,34107647,60023.0,2153-03-28 10:49:28,NaN,220001,"Chronic obstructive pulmonary disease (COPD, B...",NaN,NaN,NaN
668861,10019003,29279905,34107647,60023.0,2153-03-28 10:49:28,NaN,220001,.Care Plan - Alteration in Bowel Elimination: ...,NaN,NaN,NaN

Location: ./mimic-iv-clinical-database-demo-2.2/icu/icustays.csv.gz
File Name: ./mimic-iv-clinical-database-demo-2.2/icu/icustays.csv.gz
Content:

,subject_id,hadm_id,stay_id,first_careunit,last_careunit,intime,outtime,los
0,10018328,23786647,31269608,Neuro Stepdown,Neuro Stepdown,2154-04-24 23:03:44,2154-05-02 15:55:21,7.702512
1,10020187,24104168,37509585,Neuro Surgical Intensive Care Unit (Neuro SICU),Neuro Stepdown,2169-01-15 04:56:00,2169-01-20 15:47:50,5.452662
2,10020187,26842957,32554129,Neuro Intermediate,Neuro Intermediate,2170-02-24 18:18:46,2170-02-25 15:15:26,0.872685
3,10012853,27882036,31338022,Trauma SICU (TSICU),Trauma SICU (TSICU),2176-11-26 02:34:49,2176-11-29 20:58:54,3.766725
4,10020740,25826145,32145159,Trauma SICU (TSICU),Trauma SICU (TSICU),2150-06-03 20:12:32,2150-06-04 21:05:58,1.037106
...,...,...,...,...,...,...,...,...
135,10020786,23488445,33683112,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2189-06-09 12:46:30,2189-06-10 22:58:09,1.424757
136,10020740,23831430,35026312,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2150-03-11 15:34:56,2150-03-19 02:17:47,7.446424
137,10032725,20611640,30101877,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2143-03-22 06:42:00,2143-03-25 15:05:33,3.349687
138,10037928,24656677,39804682,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2178-12-21 06:05:18,2178-12-22 02:16:08,0.840856
139,10015931,22130791,37093652,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2177-03-24 21:48:07,2177-03-29 18:03:36,4.844086

Location: ./mimic-iv-clinical-database-demo-2.2/icu/outputevents.csv.gz
File Name: ./mimic-iv-clinical-database-demo-2.2/icu/outputevents.csv.gz
Content:

,subject_id,hadm_id,stay_id,caregiver_id,charttime,storetime,itemid,value,valueuom
0,10002428,23473524,35479615,29441,2156-05-15 18:00:00,2156-05-15 17:42:00,226583,600,ml
1,10002428,23473524,35479615,29441,2156-05-15 12:00:00,2156-05-15 12:08:00,226559,60,ml
2,10002428,23473524,35479615,29441,2156-05-15 13:00:00,2156-05-15 13:00:00,226559,45,ml
3,10002428,23473524,35479615,29441,2156-05-15 08:00:00,2156-05-15 08:39:00,226559,125,ml
4,10002428,23473524,35479615,29441,2156-05-15 14:00:00,2156-05-15 13:56:00,226559,60,ml
...,...,...,...,...,...,...,...,...,...
9357,10016742,29281842,37057036,82943,2178-07-07 11:00:00,2178-07-07 13:25:00,226559,230,ml
9358,10016742,29281842,37057036,82943,2178-07-07 15:00:00,2178-07-07 17:40:00,226559,120,ml
9359,10016742,29281842,37057036,82943,2178-07-07 09:00:00,2178-07-07 09:25:00,226559,250,ml
9360,10016742,29281842,37057036,82943,2178-07-07 18:00:00,2178-07-07 18:18:00,226559,80,ml
9361,10016742,29281842,37057036,82943,2178-07-07 17:00:00,2178-07-07 18:18:00,226559,160,ml